<div class="mt-4">
  <h3>Đăng khóa học</h3>
  <form method="post" action="/courses/store">
    <div class="mb-3">
      <label for="name">Tên khóa học</label>
      <input type="text" class="form-control" id="name" name="name" />
    </div>

    <div class="mb-3">
      <label for="description">Mô tả</label>
      <input type="text" class="form-control" id="description" name="description" />
    </div>

    <div class="mb-3">
      <label for="videoId">VideoId</label>
      <input type="text" class="form-control" id="videoId" name="videoId" />
    </div>

      <div class="mb-3">
      <label for="imageId">ImageId</label>
      <input type="text" class="form-control" id="imageId" name="imageId" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>