<form class="row g-3" method="post" action="">
  <div class="col-auto">
    <label for="staticEmail2">Từ điển</label>
  </div>
  <div class="col-auto">
    <label for="inputPassword2" class="visually-hidden">Nhập văn bản</label>
    <input type="text" name="q" class="form-control" id="search-input" placeholder="Mời nhập" />
  </div>

  <div class="col-auto">
    <label for="inputPassword2" class="visually-hidden">Nhập văn bản</label>
    <select type="text" name="gender" class="form-control" id="gender-input">
        <option value="">-- Chọn giới tính</option>
        <option value="male">Nam</option>
        <option value="female">Nữ</option>
    </select>  
  </div>

  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Tìm kiếm</button>
  </div>
</form>